<div fxLayout="row" fxLayoutGap="25" fxLayoutAlign="space-between center" fxFlex="100" fxFlex.md="90" fxFlex.xm="90"
  fxFlex.xs="auto">

  <div fxLayout="16px">
    <button mat-icon-button [matMenuTriggerFor]="menumenu" matTooltip="Reminde me"
      aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()">
      <mat-icon>add_alert</mat-icon>
    </button>
    <mat-menu #menumenu="matMenu">
      <div fxLayout="column" class="reminderMenu">
        <div>
          <h4>Reminder:</h4>
        </div>
        <div>
          <div class="date" (click)="today()" fxLayout="row" fxLayoutAlign="space-around center">
            <!-- <button> -->
              <label id="reminderLabel" >Later today</label>
              <label class="lb">8:pm </label>
            <!-- </button> -->
          </div>
        </div>

        <div>
          <div class="date" fxLayout="row" fxLayoutAlign="space-around center">

            <label id="reminderLabel">Tommorow</label>
            <label class="lb"> 8:pm </label>
          </div>
        </div>

        <div>
          <div class="date" fxLayout="row" fxLayoutAlign="space-around center">

            <label id="reminderLabel">Next week</label>
            <label class="lb"> 8:pm </label>
          </div>
        </div>
        <button mat-menu-item [matMenuTriggerFor]="datepicker">
          <mat-icon>access_time</mat-icon>
          <span>pick Date & Time</span>
        </button>
      </div>
    </mat-menu>

    <mat-menu #datepicker="matMenu">

      <div fxLayout='row'>
        <mat-icon>keyboard_backspace</mat-icon>
        <h6>Pick date & time</h6>
      </div>

      <button mat-menu-item>
        <label>
          <input matInput [owlDateTimeTrigger]="dt3" [(ngModel)]="dateTime" [owlDateTime]="dt3" placeholder=" selextdate">
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
        </label>
      </button>

      <!-- 
      <mat-form-field>
        <input matInput [matDatepicker]="dp"  [(ngModel)]="dateTime">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field> -->

      <button mat-menu-item><label>
          <input matInput [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [(ngModel)]="dateTime" placeholder="time">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
        </label>
      </button>

      <button mat-menu-item>
        <mat-form-field>
          <select matNativeControl required>
            <option value="volvo">daily</option>
            <option value="saab">repeat</option>
            <option value="mercedes">do notreapeat</option>
            <option value="audi">weekly</option>
            <option value="audi">monthly</option>
          </select>
        </mat-form-field>
      </button>


      <mat-divider></mat-divider>
      <div mat-dialog-actions fxLayoutAlign='end end'>
        <button mat-button cdkFocusInitial (click)="setReminder(dateTime)">done</button>
      </div>
    </mat-menu>
  </div>


  <div fxLayout="16px" fxLayout.xs="10px">
    <button mat-icon-button [matMenuTriggerFor]="menuu" matTooltip="Change Color">
      <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #menuu="matMenu">
      <div *ngFor="let colors of colorArray" fxLayout="row">
        <div *ngFor='let bgColor of colors'>
          <div (click)='setColor(bgColor.color,card)' (click)="$event.stopPropagation()" [ngStyle]="{'background-color': bgColor.color}"
            class="colorPicker"></div>
        </div>
      </div>
    </mat-menu>

  </div>
  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="add image" fxLayout="16px"
      (click)="$event.stopPropagation()">
      <mat-icon>crop_original</mat-icon>
    </button>
  </div>
  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="Collaborator" fxLayout="16px"
      (click)="$event.stopPropagation()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="archiveNote()" (click)="$event.stopPropagation()" matTooltip="Archive">
      <mat-icon>archive</mat-icon>
    </button>
  </div>


  <div fxLayout="16px">

    <button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isTrash"  mat-menu-item (click)="deleteForeverNote()">
        <span>Deleteforever</span>
      </button>
      <button *ngIf="!isTrash"  mat-menu-item (click)="trashNote()">
        <span>Delete note</span>
      </button>

      <button *ngIf="!isTrash" mat-menu-item [matMenuTriggerFor]="fish">add label</button>

      <button *ngIf="!isTrash" mat-menu-item>
        <span>Add drawaing</span>
      </button>
      <button *ngIf="!isTrash" mat-menu-item>
        <span>Make a copy</span>
      </button>
      <button *ngIf="!isTrash" mat-menu-item>
        <span>Show checkBoxes</span>
      </button>
    </mat-menu>
    <mat-menu #fish="matMenu">

      <div mat-dialog-content>
        <button mat-button (click)="$event.stopPropagation()" *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
          (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-form-field class="example-form-field" (click)="$event.stopPropagation()">

          <input matInput type="text" placeholder="Create label" [(ngModel)]="labelText">

        </mat-form-field>
      </div>
      <div>
        <!-- <p>*ngIf="labelText"</p> -->
        <div *ngFor="let label of allLabel |searchFilter: labelText ">
          <mat-checkbox (click)="$event.stopPropagation()" (click)="addLabelToLabel(label)">{{label.label}}
          </mat-checkbox>
        </div>
      </div>

    </mat-menu>
  </div>

</div>

<!-- <div *ngIf="card.isDeleted">
  <p>{{card}}</p>

</div> -->