.colors {
  background-color: brown;
}
.grn {
  background: #00ff00;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.new {
  background-color: #7fffd4;
  width: 35px;
  height: 35px;
  padding: 5 5 5 5;
}
.ACD {
  background-color: #6a5acd;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.EE {
  background-color: #00ffff;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.ffb {
  background-color: #ffb6c1;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.deb {
  background-color: #f5deb3;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.bff {
  background-color: #00bfff;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.ff {
  background-color: #ffff00;
  width: 35px;
  height: 35px;
  padding: 1 1;
}

.adf {
  background-color: #adff2f;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.yelo {
  background-color: #cd5c5c;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.let {
  background-color: #ee82ee;
  width: 35px;
  height: 35px;
  padding: 1 1;
}
.whte {
  background-color: #ffdead;
  width: 35px;
  height: 35px;
  padding: 1 1;
}

.colorPicker {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 2px;
}

.date {
  border-radius: 0 25px 25px 0;
  font-size: 14px;
  flex: 5 5 auto;
  cursor: pointer;
}
.reminderMenu {
  width: 200px;
}
#reminderLabel {
  margin-right: 10px;
  line-height: 25px;
  cursor: pointer;
}
.lb{
  cursor: pointer;
}

h6 {
  margin-top: 7px;
  margin-left: 5px;
}
