<div fxLayout="row" fxLayoutGap="25" fxLayoutAlign="space-between center" fxFlex="100" fxFlex.md="90" fxFlex.xm="90"
  fxFlex.xs="auto">

  <div fxLayout="16px">

    <button mat-icon-button [matMenuTriggerFor]="menumenu" matTooltip="Reminde me"
      aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()">
      <mat-icon>add_alert</mat-icon>
    </button>
    <mat-menu #menumenu="matMenu">
      <button mat-menu-item>

        <!-- <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field> -->
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>add drawaing</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>makecopy</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>show checkBoxes</span>
      </button>
    </mat-menu>

  </div>

  <div fxLayout="16px" fxLayout.xs="10px">
    <button mat-icon-button [matMenuTriggerFor]="menuu" matTooltip="Change Color">
      <mat-icon>color_lens</mat-icon>
    </button>
    <mat-menu #menuu="matMenu">

      <div>
        <button mat-mini-fab (click)="$event.stopPropagation()" class="grn" (click)="setColor('#00FF00',card)"
          matTooltip="green"></button>
        <button mat-mini-fab color="#FFFF00" matTooltip="yellow" class="ff" (click)="$event.stopPropagation()"
          (click)="setColor('#FFFF00',card)"></button>
        <button mat-mini-fab color="#7FFFD4" matTooltip="blue" class="new" (click)="$event.stopPropagation()"
          (click)="setColor('#7FFFD4',card)"></button>
        <button mat-mini-fab color="#00BFFF" matTooltip="light blue" class="bff" (click)="$event.stopPropagation()"
          (click)="setColor('#00BFFF',card)"></button>
      </div>
      <div>
        <button mat-mini-fab color="#adff2f" matTooltip="lightGreen" class="adf" (click)="$event.stopPropagation()"
          (click)="setColor('#adff2f',card)"></button>
        <button mat-mini-fab color="#00FFFF" matTooltip="teal" class="EE" (click)="$event.stopPropagation()"
          (click)="setColor('#00FFFF',card)"></button>
        <button mat-mini-fab color="#FFB6C1" matTooltip="light pink" class="ffb" (click)="$event.stopPropagation()"
          (click)="setColor('#FFB6C1',card)"></button>
        <button mat-mini-fab color="#F5DEB3" class="deb" matTooltip="bone" (click)="$event.stopPropagation()"
          (click)="setColor('#F5DEE3',card)"></button>
      </div>
      <div>
        <button mat-mini-fab color="#6A5ACD" class="ACD" matTooltip="purple" (click)="$event.stopPropagation()"
          (click)="setColor('#6A5ACD',card)"></button>
        <button mat-mini-fab color="#FFDEAD" class="whte" matTooltip="cream" (click)="$event.stopPropagation()"
          (click)="setColor('#FFDEAD',card)"></button>
        <button mat-mini-fab color="#EE82EE" class="let" matTooltip="pink" (click)="$event.stopPropagation()"
          (click)="setColor('#EE82EE',card)"></button>
        <button mat-mini-fab color="#CD5C5C" class="yelo" matTooltip="yellow" (click)="$event.stopPropagation()"
          (click)="setColor('#CD5C5C',card)"></button>
      </div>

    </mat-menu>

  </div>
  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="add image" fxLayout="16px"
      (click)="$event.stopPropagation()">
      <mat-icon>crop_original</mat-icon>
    </button>
  </div>
  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="Collaborator" fxLayout="16px"
      (click)="$event.stopPropagation()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <div fxLayout="16px">
    <button mat-icon-button matSuffix (click)="archiveNote()" (click)="$event.stopPropagation()" matTooltip="Archive">
      <mat-icon>archive</mat-icon>
    </button>
  </div>


  <div fxLayout="16px">

    <button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
      (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="isTrash" mat-menu-item (click)="deleteForeverNote()">
        <span>Deleteforever</span>
      </button>
      <button *ngIf="!isTrash" mat-menu-item (click)="trashNote()">
        <span>Delete note</span>
      </button>

      <button *ngIf="!isTrash" mat-menu-item [matMenuTriggerFor]="fish">add label</button>

      <button *ngIf="!isTrash" mat-menu-item>
        <span>Add drawaing</span>
      </button>
      <button *ngIf="!isTrash" mat-menu-item>
        <span>Make a copy</span>
      </button>
      <button *ngIf="!isTrash" mat-menu-item>
        <span>Show checkBoxes</span>
      </button>
    </mat-menu>
    <mat-menu #fish="matMenu">

      <div mat-dialog-content>
        <button mat-button (click)="$event.stopPropagation()" *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
          (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-form-field class="example-form-field" (click)="$event.stopPropagation()">

          <input matInput type="text" placeholder="Create label" [(ngModel)]="labelText">

        </mat-form-field>
      </div>
      <div *ngIf="labelText ">

      <div *ngFor="let i of allLabel |searchFilter: labelText ">
        <mat-checkbox (click)="$event.stopPropagation()" (click)="addNoteLabel(i)">{{i.label}}</mat-checkbox>
        <!-- <button mat-menu-item (click)="$event.stopPropagation()">
          <p>{{i.label}}</p>
        </button> -->

      </div>
    </div>

    </mat-menu>
  </div>

</div>

<!-- <div *ngIf="card.isDeleted">
  <p>{{card}}</p>

</div> -->