tc {
    user-select: none;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}

// .setButton
// {
//     height: 30px;
//     border: transparent;;
// }

// .imageCropper
// {
//     margin-left: -250px;
// }