

<div class="crop">
  <div class="select">
    Select profile photo
  </div>

<div>
<div class="smallLetter">
    To crop this image, drag the region below and then click "Set as profile photo"
</div>

<div>
  <input type="file" (change)="getprofilephoto($event)" accept="image/*"/>
    
</div>
<div  fxLayout="row" fxLayoutAlign="center center" >
    <div class="image" fxFlex='80'>
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      </div>
</div>
<div *ngIf='progressBar'>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

</div>


<mat-divider></mat-divider>
<div fxLayout='row' class="downButton" >
<button mat-button (click)="upload()" class="upload">Set as profile photo</button>
<button mat-button (click)="cancel()">cancel</button>
</div>

</div>