<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <mat-icon> <img src="../../../assets/image/keep.svg"></mat-icon> -->
    <div fxLayoutAlign="center" fxHide.xs='true' fxHide.sm='true'>
      <img class="keepimg" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png">
      <!-- <mat-icon><img class="keepimg" src="../../../assets/image/keep.svg"></mat-icon> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div>
        <h1 class="app-name">
          <p>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="O">o</span>
          </p>
        </h1>

      </div>

      <div class="search" fxFlex.md='35' fxFlex='45' fxFlexOffset='14' fxFlexOffset.sm='12'>
        <!-- <span fxShow fxHide.xs fxShow fxHide.xs class="example-spacer"></span> -->
        <mat-form-field [style.fontSize.px]="12" fxShow fxHide.xs fxShow fxHide.xs appearance="outline"
          routerLink="search" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="50">
          <button mat-icon-button matSuffix fxFlex.xs="50" matTooltip="Search">
            <mat-icon matPrefix>search</mat-icon>
          </button>
          <input matInput type="text" [(ngModel)]="title" placeholder="search" (keyup)="search($event)">
        </mat-form-field>
      </div>

      <div fxShow fxShow.xs fxHide><button mat-icon-button matSuffix fxFlex.xs="50" matTooltip="Search">
          <mat-icon matPrefix (click)="searchVisible()">search</mat-icon>
        </button> </div>
      <div *ngIf="searchInput==true" fxFlex.md='35' fxFlex='45' fxFlexOffset='14' fxFlexOffset.sm='12' fxHide.xs='true'>
        <mat-form-field appearance="outline" [style.fontSize.px]=12>

          <input matInput placeholder="search" class="place" [(ngModel)]="title" (keyup)="search($event)"
            autocomplete="off">
          <!-- <mat-icon matPrefix>search</mat-icon> -->

        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="30">

        <span class="example-spacer"></span>
        <div fxFlex="20" fxFlex.md="60" fxFlex.xs="80" fxFlex.sm="90">
          <div fxFlex="25" fxShow fxHide.xs fxShow fxHide.xs>
            <button style="margin-top:10px; outline: none" mat-icon-button (click)="refresh()">
              <i class="material-icons">refresh</i>
            </button>
          </div>
        </div>
        <div>
          <button mat-icon-button (click)="shoppingCartOpen()">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <div fxFlex="25" fxShow fxHide.xs fxShow fxHide.xs>
          <button mat-icon-button style="margin-top:10px; outline: none;" class="materialicons" *ngIf="gridView == false"
          (click)="gridUnGrid()" matTooltip="list view" fxShow="true">
            <i class="material-icons">
              view_stream</i>
          </button>
          <button fxShow fxHide.xs fxShow fxHide.xs mat-icon-button style="margin-top:10px; outline: none;"
            class="materialicons" *ngIf="gridView == true" (click)="gridUnGrid()" matTooltip="grid view" fxShow="true">
            <i class="material-icons">view_module</i>
            <!-- <mat-icon (click)="listView()">view_list</mat-icon> -->
          </button>
        </div>



        <div>
          <button mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
            fxFlex.xs="50">
            <img class="avatar " mat-card-avatar [src]="imageurl">
            <!-- <mat-icon>account_circle</mat-icon> -->
          </button>

          <div>
            <mat-menu #menu="matMenu">

              <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                <mat-card fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="image-container" style="margin-top: -50;margin-left: -10px">
                    <img class="avatar-flair " mat-card-avatar [src]="imageurl" (profilePic)="changeProfilePic()"
                      (click)="openSetProfileDialog()">
                    <span class="message">change</span>
                  </div>

                  <div style="margin-top: -50px" class="gb_3a">
                    <div class="gb_eb">{{userName | titlecase}}</div>
                    <div class="gb_gb">{{email}}</div>
                  </div>

                </mat-card>
              </div>

              <mat-divider></mat-divider>
        
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around  center">
                <button mat-raised-button>add Acount</button>
                <button mat-raised-button (click)="logout()">logout</button>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-divider></mat-divider>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list style="width:240px">
       
        <div>
          <a class="nav-div" mat-list-item routerLink="notes">
            <mat-icon>lightbulb_outline</mat-icon>
            <div class="mar">Notes</div>
          </a>
        </div>
        <div>
          <a class="nav-div" mat-list-item routerLink="reminder">
            <mat-icon>notifications_outline</mat-icon>
            <div class="mar">Reminders</div>
          </a>
        </div>
        <mat-divider></mat-divider>
        <div class="JNdkSc-tJHJj">Labels</div>
        <div (labelDelete)="getLabelList()">
          <div *ngFor="let lab of allLabel">

            <div>
              <a mat-list-item class="nav-div"  (click)="openLabel(lab)">
                <mat-icon>label_outline</mat-icon>
                <p class="label" class="mar">{{lab.label}}</p>
              </a>
            </div>
          </div>

          <div class="label">
            <div>
              <a mat-list-item class="nav-div"  (click)="openDialogLabel()">
                <mat-icon>create</mat-icon>
                <div class="mar">Edit Label</div>
              </a>
            </div>
          </div>

        </div>
        <mat-divider></mat-divider>
        <div>
          <a mat-list-item class="nav-div" routerLink="archive">
            <mat-icon>archive_outline</mat-icon>
            <div class="mar">Archive</div>
          </a>
        </div>
        <div fxLayout="row"  fxLayoutAlign="space-between center">
          <a mat-list-item class="nav-div" routerLink="trash">

            <div>
              <mat-icon >delete</mat-icon>
            </div>
            <div class="mar">Trash</div>

          </a>

        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>