<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <h1 class="app-name" fxFlex.xs="50">fundoo</h1>

    </div>

    <div  fxLayoutGap="20%" fxFlex.xs="50">
      <span class="example-spacer"></span>


      <mat-form-field [style.fontSize.px]="12" [style.width.px]="800" appearance="outline" fxFlex="100"
       fxFlex.xs="50">
        <button mat-icon-button matSuffix (click)="hide = !hide" fxFlex.xs="50">
          <mat-icon>search</mat-icon>
        </button>
        <input matInput type="text" placeholder="search">


      </mat-form-field>



    </div>

    <!-- <div fxFlex="30"> -->
    <span class="example-spacer"></span>
    <button mat-icon-button  (click)="hide = !hide" >
      <mat-icon>view_list</mat-icon>
    </button>

    <button mat-icon-button  (click)="hide = !hide" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <!-- </div> -->

  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <app-notes></app-notes>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p *ngFor="let content of fillerContent">{{content}}</p>

      <app-take-note></app-take-note>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>