.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;

  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
.f1 {
  border: color transparent;
  width: 200%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
#search input[type="search"].filled {
  width: 400px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.textmenu {
  width: 200%;
}
.example-form-field {
  width: 200px;
  border: none;
  box-decoration-break: no-button;
}


::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

a{
  border-radius: 0 25px 25px 0;
}

.f{
  color:#4285F4;
  }
  .u{
  color:#DB4437
  }
  .n{
    color: #F4B400
  }
  .d{
    color:#4285F4;
  }
  .o{
    color:  #0F9D58
  }
  .O{
    color:#DB4437
  }

  .label{
    font-size: 14px;
    cursor: pointer;
  }


  .avatar-flair {
    font-size: 38px;
    width: 90px;
    height: 90px;
  }
  .image-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .message {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 20%;
    transform: translate(-50%, 100%);
    transition: all 1s;
    opacity: 0;
  }
  .image-container:hover .message {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .select-profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    width: 40%;
    height: 40%;
    cursor: pointer;
  }
  
  .gb_eb {
    font-weight: bold;
    margin: -4px 0 1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .gb_gb {
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
  }

  .gb_2a, .gb_3a {
    display: inline-block;
    vertical-align: top;
  }







