.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;

  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
.f1 {
  border: color transparent;
  width: 200%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
#search input[type="search"].filled {
  width: 400px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.textmenu {
  width: 200%;
}
.example-form-field {
  width: 200px;
  border: none;
  box-decoration-break: no-button;
}


::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}


.f{
  color: blue;
  }
  .u{
  color: red
  }
  .n{
    color: #1ddced
  }
  .d{
    color: blue
  }
  .o{
    color: green
  }
  .O{
    color: red
  }

  .label{
    font-size: 14px;
  }