.main-card{
 width: 240px;  
    // width: auto;
    min-height: 20px;
    max-height: 350px;
    position: relative;
}

::ng-deep .mat-card{
  margin-top: 10px;
}
.div {
    // background-color: yellow;
    // padding: 20px;
    // display: none;
    visibility: hidden
  }
    
  .main-card:hover .div {
    // display: block;
visibility: visible
  }
  .flexcontainer {
    flex-flow: column wrap;
  }
  .label{
    text-overflow: clip
  }