<div style="margin-left: 28%" *ngIf="emptyCart">

  <H1>YOUR CART IS EMPTY YOU WANT TO BUY ??</H1>
</div>


<div fxFlex="80" fxLayoutAlign="center center" *ngIf="!emptyCart">
  <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <!-- <div *ngIf="cartData.product!=undefined"> -->
        <div  class="shop">
          Shopping Cart
        <!-- </div> -->

        <!-- <div>
          <div class="shop">
            Review Your Order
          </div>
          <div class="condition" fxLayout='row' fxLayout.xs='column'>
            <div>
              'Place Your Order "
            </div>
            <div fxLayout='row'>
              <div class="privacy"> &nbsp; privacy policy </div>
              &nbsp; and &nbsp; <div class="privacy"> condition of use </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="box">
        <!-- <mat-card> -->
        <div *ngIf="cartData.product!=undefined" fxLayout="row" fxLayout.xs="column"
          fxLayoutAlign.xs="space-around start" fxLayoutAlign="space-between start">
          <div class="card" fxHide.xs='true'>
            ${{cartData.product.price}} Per Month
            <div>
              {{cartData.product.name }}
            </div>
          </div>


          <div class="details">
            <div class="name">
              {{cartData.product.name}} Pack Details
            </div>
            <div>
              <ul>
                <li>
                  {{cartData.product.description}}
                </li>
                <div *ngIf="cartData.product.name=='advance'">
                  <li>Ability to add checklist </li>
                  <li>Ability to add Collaborator</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="price">
            <div class="name">
              Price
            </div>
            <div class="rate">
              $ {{cartData.product.price}}
            </div>
          </div>


          <div class="price">
            <div class="name">
              Validity
            </div>
            <div class="rate">
              Per Month
            </div>
          </div>



        </div>

        <div fxLayout="column" fxLayoutAlign="end">
          <div class="downPrice" fxLayout='row' fxLayoutAlign="end center" *ngIf="cartData.product!=undefined">
            <div>
              <h5>Subtotal (1 Item ): </h5>

            </div>
            <div class="priceSubtotal">
              <h5>${{cartData.product.price}}</h5>

            </div>
          </div>
          <div fxLayoutAlign='end'>
            <div>
              <button mat-flat-button matStepperNext color="primary" >Proceed To CheckOut</button>
              <!-- <button mat-button matStepperNext>Next</button> -->
            </div>
          </div>
        </div>
        <!-- </mat-card> -->
      </div>


      <div>
        <div class="shop">
          Review Your Order
        </div>
        <div class="condition" fxLayout='row' fxLayout.xs='column'>
          <div>
            'Place Your Order "
          </div>
          <div fxLayout='row'>
            <div class="privacy"> &nbsp; privacy policy </div>
            &nbsp; and &nbsp; <div class="privacy"> condition of use </div>
          </div>
        </div>
      </div>
    </mat-step>



    <mat-step [stepControl]="secondFormGroup">
      <mat-card>
        <div *ngIf="cartData.product!=undefined" fxLayout="row" fxLayout.xs="column"
          fxLayoutAlign.xs="space-around start" fxLayoutAlign="space-between start">
          <div class="card" fxHide.xs='true'>
            ${{cartData.product.price}} Per Month
            <div>
              {{cartData.product.name }}
            </div>
          </div>


          <div class="details">
            <div class="name">
              {{cartData.product.name}} Pack Details
            </div>
            <div>
              <ul>
                <li>
                  {{cartData.product.description}}
                </li>
                <div *ngIf="cartData.product.name=='advance'">
                  <li>Ability to add checklist </li>
                  <li>Ability to add Collaborator</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="price">
            <div class="name">
              Price
            </div>
            <div class="rate">
              $ {{cartData.product.price}}
            </div>
          </div>


          <div class="price">
            <div class="name">
              Validity
            </div>
            <div class="rate">
              Per Month
            </div>
          </div>



        </div>

        <div fxLayout="column">
          <div class="downPrice" fxLayout='row' fxLayoutAlign="end center" *ngIf="cartData.product!=undefined">
            <div>
              <h5>Subtotal (1 Item ): </h5>

            </div>
            <div class="priceSubtotal">
              <h5>${{cartData.product.price}}</h5>

            </div>
          </div>
          <div fxLayoutAlign='end'>
            <div>
              <button mat-flat-button matStepperNext color="primary" (click)="placeOrder()">placeOrder</button>

              <!-- <button mat-button matStepperNext>Next</button> -->
            </div>
          </div>
        </div>
      </mat-card>

      <div>
        <mat-divider></mat-divider>
        <div class="payement" fxFlex='100' fxLayout='row' fxLayoutGap='8%'>
          <div fxLayout='column' fxFlex='70'>
            <div class="delivaryAddress"> Delivery Address</div>
            <div class="search">
              <mat-form-field fxFlex='100' appearance="outline">

                <input matInput class="place" autocomplete="off" [formControl]="DeliveryAddress">

              </mat-form-field>
            </div>
          </div>

          <div fxFlex='20' fxLayout='column'>
            <div>
              <h5>PayMent Mode</h5>
            </div>
            <div>
              Cash on Delivery
            </div>
          </div>
        </div>
      </div>
      <button mat-button matStepperNext>Next</button>
      dfdfdf
    </mat-step>



    <mat-step>
      <div fxLayoutAlign="center center">
        <mat-card>
          <div *ngIf="cartData.product!=undefined" fxLayout="row" fxLayout.xs="column"
            fxLayoutAlign.xs="space-around start" fxLayoutAlign="space-between start">
            <div class="card" fxHide.xs='true'>
              ${{cartData.product.price}} Per Month
              <div>
                {{cartData.product.name }}
              </div>
            </div>


            <div class="details">
              <div class="name">
                {{cartData.product.name}} Pack Details
              </div>
              <div>
                <ul>
                  <li>
                    {{cartData.product.description}}
                  </li>
                  <div *ngIf="cartData.product.name=='advance'">
                    <li>Ability to add checklist </li>
                    <li>Ability to add Collaborator</li>
                  </div>
                </ul>
              </div>
            </div>
            <div class="price">
              <div class="name">
                Price
              </div>
              <div class="rate">
                $ {{cartData.product.price}}
              </div>
            </div>


            <div class="price">
              <div class="name">
                Validity
              </div>
              <div class="rate">
                Per Month
              </div>
            </div>
          </div>




          <div fxLayout='row' fxLayoutAlign="end center">

            <div class="order" *ngIf="cartData.product!=undefined && !cartData.isPaymentDone">
              <h4> pending</h4>
            </div>

            <div class="orderDone" *ngIf="cartData.product!=undefined && cartData.isPaymentDone">
              <h4> Completed</h4>
            </div>


          </div>
          <!-- <div fxLayout="column">
            <div class="downPrice" fxLayout='row' fxLayoutAlign="end center" *ngIf="cartData.product!=undefined">
              <div>
                <h5>Subtotal (1 Item ): </h5>
  
              </div>
              <div class="priceSubtotal">
                <h5>${{cartData.product.price}}</h5>
  
              </div>
            </div>
            <div fxLayoutAlign='end'>
              <div>
                <button mat-flat-button color="primary" (click)="proceed()">Proceed To CheckOut</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </div>
          </div> -->
        </mat-card>

      </div>

    </mat-step>
  </mat-horizontal-stepper>
</div>