// .h1U9Be-xhiy4.qAWA2 .IZ65Hb-YPqjbf.LwH6nd {
//     letter-spacing: .00625em;
//     font-family: 'Google Sans',Roboto,Arial,sans-serif;
//     font-size: 1rem;
//     font-weight: 500;
//     line-height: 1.5rem;
// }
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
.fgfg{
    margin-top: 5%;height: 15.5em;
}
.LwH6nd {
    letter-spacing: .00625em;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    border: solid transparent;
    background-clip: padding-box;
    border: solid transparent;
}