<div fxLayoutAlign="center" fxFlex.xs="100" fxFlex.sm="80">
  <div fxLayout="column" *ngFor=" let card of notes">

    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div>
          <h2>{{card.title}}</h2>
        </div>

        <button mat-button (click)=close()>Close</button>
      </div>
      <div>
        <h3>{{card.description}}</h3>
      </div>
    </div>

    <mat-divider></mat-divider>



    <div *ngIf="card.questionAndAnswerNotes.length > 0" fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="70">
      <mat-card style="height: 40px;width: fit-content" style=" overflow: scroll;">
        <h4 *ngIf="card.questionAndAnswerNotes.length > 0" style="margin-left:30px;"><strong>Question Asked</strong>
        </h4>

        <div fxLayout="column" class="description">
          <div *ngFor="let item of card.questionAndAnswerNotes">
            <div *ngIf="!item.parentId">

              <div class="description" innerHTML="{{item.message}}"></div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-divider></mat-divider>

    <div>
      <div *ngIf="card.questionAndAnswerNotes[0]" fxLayout="row">

        <div>
          <div fxLayout="column" *ngFor="let item of card.questionAndAnswerNotes">

            <div fxLayout="row">
              <div *ngIf="!item.parentId">
                <div mat-card-avatar>
                  <div fxFlex="7" class=nameIcon>
                    {{item.user.firstName[0].toUpperCase()}}{{item.user.lastName[0].toUpperCase()}}
                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>

                    <div fxLayout="row">
                      <span>{{item.user.firstName}} {{item.user.lastName}}</span>
                      <div> <span>{{item.createdDate|dateTime:'dateTime'}}</span>
                      </div>
                    </div>

                    <div *ngIf="!item.parentId">
                      <div class="msg" innerHTML="{{item.message}}">
                      </div>
                    </div>

                  </div>

                  <div fxLayout="row">
                    <div>
                      <mat-icon *ngIf="showfroalaeditor2" (click)=postReplyEditor(item.id)>reply</mat-icon>
                    </div>

                    <div (click)="setLikes()">
                      <mat-icon>thumb_up_ult</mat-icon>
                    </div>

                    <div>
                      <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                        <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                      </a>
                    </div>

                    <div>
                      <span>{{ratings}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>


            <div>
              <div *ngIf="card.questionAndAnswerNotes.length > 0">
                <div *ngIf="!showfroalaeditor2 && replyid==item.id">
                  <div>
                    <textarea [froalaEditor] [(froalaModel)]="replyMsg.message" [formControl]="message"></textarea>
                  </div>

                  <div>

                    <button mat-button *ngIf="!showfroalaeditor2" (click)=postReply(item.id)>reply</button>

                  </div>
                </div>
              </div>
            </div>





            <!-- <div style="height:5vh;"> reply is and aprooved message show in this div</div> -->
            <div style="margin-left:20px;" *ngIf="card.questionAndAnswerNotes.length >= 2">
              <div style="margin-left:60px;" *ngFor="let reply of card.questionAndAnswerNotes">
                <div fxLayout="column"
                  *ngIf=" reply.isApproved == true && reply.isCanceled == false && reply.parentId==item.id">
                  <div fxLayout="row">
                    <div mat-card-avatar>
                      <div fxFlex="7" class=nameIcon>
                        {{reply.user.firstName[0].toUpperCase()}}{{reply.user.lastName[0].toUpperCase()}}
                      </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div>

                        <div fxLayout="row">
                          <span>{{reply.user.firstName}} {{reply.user.lastName}}</span>
                          <div> <span>{{reply.createdDate|dateTime:'dateTime'}}</span>
                          </div>
                        </div>

                        <div>
                          <div class="msg" innerHTML="{{reply.message}}">
                          </div>
                        </div>

                      </div>

                      <div fxLayout="row">
                        <div>
                          <mat-icon *ngIf="showfroalaeditor2" (click)=postReplyEditor(reply.id)>reply</mat-icon>
                        </div>

                        <div (click)="setLikes()">
                          <mat-icon>thumb_up_ult</mat-icon>
                        </div>

                        <div>
                          <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                            <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                          </a>
                        </div>

                        <div>
                          <span>{{ratings}}</span>
                        </div>

                      </div>
                    </div>
                  </div>




                  <div>
                    <div *ngIf="card.questionAndAnswerNotes.length > 0">
                      <div *ngIf="!showfroalaeditor2 && replyid==reply.id">
                        <div>
                          <textarea [froalaEditor] [(froalaModel)]="replyMsg.message"
                            [formControl]="message"></textarea>
                        </div>

                        <div>

                          <button mat-button *ngIf="!showfroalaeditor2" (click)=postReply(reply.id)>reply</button>

                        </div>
                      </div>
                    </div>
                  </div>


                  <div style="margin-left:60px;" *ngFor="let sreply of card.questionAndAnswerNotes">
                    <div fxLayout="row"
                      *ngIf="sreply.parentId && sreply.isApproved == true && sreply.isCanceled == false && sreply.parentId==reply.id">

                      <div mat-card-avatar>
                        <div fxFlex="7" class=nameIcon>
                          {{sreply.user.firstName[0].toUpperCase()}}{{sreply.user.lastName[0].toUpperCase()}}
                        </div>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div>

                          <div fxLayout="row">
                            <span>{{sreply.user.firstName}} {{sreply.user.lastName}}</span>
                            <div> <span>{{sreply.createdDate|dateTime:'dateTime'}}</span>
                            </div>
                          </div>

                          <div>
                            <div class="msg" innerHTML="{{sreply.message}}">
                            </div>
                          </div>

                        </div>

                        <div fxLayout="row">
                          <div (click)="setLikes()">
                            <mat-icon>thumb_up_ult</mat-icon>
                          </div>

                          <div>
                            <a *ngFor="let item of starList; let i=index " (click)="setStar(i)">
                              <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
                            </a>
                          </div>

                          <div>
                            <span>{{ratings}}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


    <div>
      <div *ngIf="!card.questionAndAnswerNotes[0]">

        <div *ngIf="showfroalaeditor" (click)="openEditor()">
          <h4>Ask a Question</h4>
        </div>

        <div>
          <textarea [froalaEditor] [(froalaModel)]="addMsg.message" [formControl]="message"></textarea>
        </div>
        <div fxLayoutAlign="end">
          <button mat-button (click)="addMessage()">Ask</button>
        </div>

      </div>

      <mat-divider></mat-divider>
    </div>
  </div>
</div>