<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse" role="navigation" class="fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">chatApp</a>
    </div>
    <ul class="nav navbar-nav">
        <!-- <li><a ui-sref="login">Home</a></li>
        <li><a ui-sref="register">About</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
    </ul>
  </nav>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    
  </div>



<!-- <nav>
  <a routerLink="/register">register</a><br>
  <a routerLink="/login">Heroes</a>
</nav> -->

<router-outlet></router-outlet>
