<mat-card class="logincard">


  <mat-card-title>
    <p>
      <span style='color: blue'>F</span>
      <span style='color: red'>u</span>
      <span style='color: #1ddced'>n</span>
      <span style='color: blue'>d</span>
      <span style='color: green'>o</span>
      <span style='color: red'>o</span>
    </p>
  </mat-card-title>
  <mat-card-subtitle>Sign in</mat-card-subtitle>


  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter email id">
  </mat-form-field>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter Password">

    </mat-form-field><br>

    <a routerLink="register"> Forget Password?</a>
  </div>

  <div>
    <button mat-button color="accent">LOGIN</button>

  </div>
</mat-card>