<div fxLayoutAlign="center center" fxFlex="100" fxFlexOffset.xs="0" fxFlex.xs="100">
  <mat-card fxFlex.xs="100">
    <div>


      <div>
        <mat-card-title>
          <p>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="O">o</span>
          </p>
        </mat-card-title>
      </div>

      <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
        <div>
          <mat-card-content>
            <div>
              <mat-card-subtitle>Create your Fundoo Account</mat-card-subtitle>
            </div>

            <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
              <div>
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.xs="100">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" placeholder="firstName" formControlName="firstName" id="fisrtName">
                  <mat-error *ngIf="hasError('firstName', 'required')">Name is required</mat-error>
                  <mat-error *ngIf="hasError('firstName', 'minlength')">name should be more than 3 characters
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" fxFlex.xs="100">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" placeholder="LastName" formControlName="lastName" id="lastName">
                  <mat-error *ngIf="hasError('lastName', 'required')">Name is required</mat-error>
                  <mat-error *ngIf="hasError('lastName', 'minlength')">name should be more than 3 char</mat-error>
                </mat-form-field>
              </div>
            </div>


            <div>
              <mat-form-field appearance="outline" fxFlex="91" fxFlex.xs="100">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" class="email" formControlName="email" id="email">
                <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
                <mat-error *ngIf="hasError('email', 'email')">invalid mail</mat-error>

                <mat-hint>You can use letters,Numbers</mat-hint>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

            </div>
            <div>
              <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
                <div>
                  <mat-form-field appearance="outline" fxFlex.xs="100">
                    <mat-label>Password</mat-label>
                    <input matInput type="text" placeholder="Password" formControlName="password" id="password"
                      [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="hasError('password', 'required')">password is required</mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')">password length should be 6 </mat-error>

                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" fxFlex="70" fxFlex.xs="100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="text" placeholder="Confirm" formControlName="cpassword" id="cpassword"
                      [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="hasError('cpassword', 'required')">pasword is required</mat-error>
                    <mat-error *ngIf="hasError('cpassword', 'minlength')">password length should be 6 </mat-error>
                    <!-- <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> -->
                  </mat-form-field>
                  <div>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide" class="i">
                      <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayoutAlign="space-between center">
              <!-- <button mat-raised-button color="basic" routerLink="../login">login</button> -->
              <a routerLink="../login">login in instead</a>
              <button mat-raised-button color="primary" [disabled]="!registerForm.valid">REGISTER</button>
            </div>
          </mat-card-content>
        </div>
      </form>
    </div>
  </mat-card>
</div>