<div fxFlex="50" fxFlexOffset="20" fxFlex="60" >
  <mat-card >

    <div>
      <mat-card-title >
          <p>
          <span style='color: blue'>F</span>
          <span style='color: red'>u</span>
          <span style='color: #1ddced'>n</span>
          <span style='color: blue'>d</span>
          <span style='color: green'>o</span>
          <span style='color: red'>o</span>
          </p></mat-card-title>
    </div>
    <div>
      <mat-card-subtitle>Create your Google Account</mat-card-subtitle>
    </div>

    <div fxLayout="row">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter firstName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter lastName">
        </mat-form-field>
      </div>
    </div>


    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email id">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>You can use letters,Numbers & period</mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <div >
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter Password">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="confirmPassword">
        </mat-form-field>
      </div>

    <mat-icon matSuffix>remove_red_eye</mat-icon>
    </div>

    <div>
      <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
    </div>

    <div> <button mat-button color="primary">REGISTER</button></div>
  </mat-card>
</div>