<!-- <div class="Collaborators" *ngIf="!reminder">Collaborators</div> -->

<mat-toolbar class="navbar" *ngIf="reminder">
  <div FxLayout="row" fxLayoutAlign="space-between center">
    <p class="pclass" >fired On{{reminder |date:short}} </p>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
<div fxLayoutGap='35px'>
  <div class="margin">
    <mat-card-header>

      <img class="addimage1 " mat-card-avatar [src]="imageurl">
      <mat-card-title>{{firstName | titlecase}} {{lastName | titlecase}} (Owner)</mat-card-title>
      <mat-card-subtitle>{{email}}</mat-card-subtitle>
    </mat-card-header>

    <div *ngFor="let item of collaboratorsArray" fxAlign="row" fxFlexLayout="space-between center">
      <mat-card-header>
        <div mat-card-avatar>
          <div class=nameIcon>{{item.firstName[0].toUpperCase()}}{{ item.lastName[0].toUpperCase() }}</div>
        </div>
        <mat-card-title style="font-size: 16px">{{item.firstName | titlecase}} {{item.lastName| titlecase}}
        </mat-card-title>
        <mat-card-subtitle style="font-size: 13px">{{item.email}}</mat-card-subtitle>
        <div fxLayoutAlign="end end" class="clear">
          <button type="button" mat-button (click)=removeCol(item)>
            <i class="material-icons">
              clear
            </i>
          </button>
        </div>
      </mat-card-header>
    </div>

    <mat-card-header>
      <div mat-card-avatar>
      </div>
      <input placeholder="person or email to share with" [(ngModel)]="searchValue" (keyup)="searchList($event)" matInput
        [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <mat-option *ngFor="let user of userArray">
          <button mat-button class=button (click)="addCollaborator(user)">
            {{user.firstName}} {{user.lastName}} [{{user.email}}]
          </button>
        </mat-option>
      </mat-menu>
      <div class="done">
        <button class="iconcorner" *ngIf="searchValue" type="button" mat-button (click)="addCollaborator(user)">
          <i class="material-icons">
            done
          </i>
        </button>
      </div>
    </mat-card-header>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap='25px' class="btns">
  <button mat-button (click)=cancel()>Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>