.div {
  // background-color: yellow;
  // padding: 20px;
  // display: none;
  visibility: hidden;
}

.upd {
  transform: none;
  padding-bottom: -50px;
  padding-right: -50px;
  padding-top: -50px;
  padding-left: -50px;
}
