<!-- <mat-card  fxFlex="100" [style.background-color]=data.card.color> -->


<!-- 
<div fxFlex="100%" class="upd" [style.background-color]=data.card.color fxLayout="column"
  fxLayoutAlign="space-between start">
  <div class="upd">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="70">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
          cdkAutosizeMinColumns="auto" cdkAutosizeMaxRows="auto" placeholder="Title"
          [(ngModel)]="data.card.title"></textarea>
      </div>
      <div fxFlex="30">
        <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="pin">
          <mat-icon><img src="../../../assets/image/unpin.svg"></mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div fxFlex="100" style="width: 500px">
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
      cdkAutosizeMinColumns="50" cdkAutosizeMaxRows="15" placeholder="Take a Note"
      [(ngModel)]="data.card.description"></textarea>
  </div>

  <div fxLayout="row" fxLayout="row wrap">

    <div *ngFor="let rem of reminders">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip [style.background-color]=data.card.color>
          <mat-icon matChipRemove *ngIf="removable" (click)="removeNoteReminder(rem,card)">access_time</mat-icon>
          <div class="XPtOyb-fmcmS">{{rem | dateTime:'dateTime'}}</div>

          <mat-icon class="i" matChipRemove *ngIf="removable" class="div" (click)="removeNoteReminder(rem,card)">
            cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>


    <div *ngFor="let label of labels">
      <mat-chip-list aria-label="Fish selection ">
        <mat-chip [style.background-color]=data.card.color>
          <div class="XPtOyb-fmcmS"> {{label.label}}</div>
          <mat-icon matChipRemove *ngIf="removable" class="div" (click)="removeNoteLabel(label,card)">cancel
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>


    <div *ngFor="let colab of collaborators">
      <button class="collo" mat-mini-fab matTooltip="{{colab.email}}" id="label"
        (click)="openCollaboratorDialog(card)">{{colab.email[0].toUpperCase()}}</button>
    </div>

  </div>


  <div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
      <div fxFlex="100">
        <app-icon></app-icon>
      </div>
      <div>
        <button mat-icon-button matSuffix (click)="updateNote(data)">close</button>
      </div>
    </div>
  </div>


</div> -->




<!-- </mat-card> -->



<div fxLayout="row" fxLayoutAlign="center center" class="mainDialog">
  <mat-card [style.background-color]=data.card.color class="takeNote" fxLayout='column' fxFlex.xs='98' fxFlex='100'>


    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="70">
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
          cdkAutosizeMinColumns="auto" cdkAutosizeMaxRows="auto" placeholder="Title"
          [(ngModel)]="data.card.title"></textarea>
      </div>
      <div fxFlex="30">
        <button mat-icon-button matSuffix (click)="hide = !hide" matTooltip="pin">
          <img *ngIf="pin === true" src="../../../assets/image/unpin.svg">
          <img *ngIf="pin === false" src="../../../assets/image/pin.svg">
        </button>
      </div>
    </div>
    <!-- <div class='titlePin' fxLayout='row' fxLayoutAlign=" center" fxFlex='100'>
      <input matInput placeholder="Title" [formControl]="title">
      <div> <button mat-icon-button (click)='ispin()'>
          <div *ngIf="pin === false"> <img src="../../assets/images/pinlight.svg"></div>
          <div *ngIf="pin === true"> <img src="../../assets/images/pined.svg"> </div>
        </button></div>

    </div> -->


    <div fxFlex="100" style="width: 500px">
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
        cdkAutosizeMinColumns="50" cdkAutosizeMaxRows="15" placeholder="Take a Note"
        [(ngModel)]="data.card.description"></textarea>
    </div>
    <!-- <div>
      <textarea class="bodyTextArea" matTextareaAutosize placeholder="Take a note ...."
        [formControl]="description">{{data.card.description}}</textarea>
    </div> -->

     <div [ngClass]="checkListClass">

      <div>
        <div fxLayout='row' class="CheckListDisplay" *ngFor="let item of openCheckListArray">

          <div class="checkBox" fxFlex='5'>
            <mat-checkbox (click)="updateChecklist(item,'close')"></mat-checkbox>
          </div>
          <div fxFlexOffset='1%' fxFlex='88'> <input matInput type="text"
             value={{item.itemName}}></div>
          <div fxFlex='4' class="deleteChecklist" (click)="removeCheckList(item,'open')">
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </div>


      <div *ngIf="list" class="addCheck">

        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="none center">
          <div fxFlex='5' class="hide" *ngIf="!saveFlag"></div>
          <div fxFlex='5' *ngIf="!list || saveFlag">
            <mat-checkbox (click)="saveChecklist('close')"></mat-checkbox>
          </div>
          <div fxFlex='88' fxFlexOffset='1%'>
            <input matInput placeholder="List" [formControl]='checkListValue' 
            (keyup)="check()" class="checkList">
          </div>
          <div *ngIf="saveFlag" fxFlex='4' class='done'>
            <mat-icon (click)="saveChecklist('open')"> done</mat-icon>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div class="addIcon" *ngIf="!list || saveFlag" (click)="checkListAddStart()">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="list">List</div>
        </div>
      </div>


      <div>
        <div class="CheckListDisplay" *ngFor="let item of closeCheckListArray">
          <div class="checkBox" fxFlex='5'>
            <mat-checkbox color="primary" checked=true (click)="updateChecklist(item,'open')"></mat-checkbox>
          </div>
          <div fxFlex='89' fxFlexOffset='1%'> <input class="closeInput" matInput type="text" value={{item.itemName}}>
          </div>
          <div fxFlex='4' class="deleteChecklist" (click)="removeCheckList(item,'close')">
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </div>

    </div> 


    <!-- <div *ngIf="rem?.length > 0">
      <mat-chip-list #chipList>
        <mat-chip>
          {{rem[0] | date:'d'}}{{rem[0] | date:'MMM '}}{{rem[0] | date:'shortTime'}}
          <mat-icon matChipRemove (click)="removeReminder(item)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>


    <div class="labelDisplay" fxLayout="row wrap" fxLayoutAlign="none center" fxLayoutGap='1%'>
      <mat-chip-list *ngFor="let item1 of labelsArray;let i=index">
        <mat-chip>
          {{item1.label}}
          <mat-icon matChipRemove (click)="removeLabel(item1,i)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>


    <div *ngIf="collaborator.length > 0" class="collaborator" fxLayout='row wrap' fxLayoutGap='1%'>
      <div class="userInfo" fxLayout='row' *ngFor="let collab of collaborator">

        <div class="image" matTooltip="{{collab.email}}" (click)="openCollab(collaborator)">
        </div>
      </div>
    </div> -->



    <div fxLayout="row" fxLayout="row wrap">

      <div *ngFor="let rem of reminders">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip [style.background-color]=data.card.color>
            <mat-icon matChipRemove *ngIf="removable" (click)="removeNoteReminder(rem,card)">access_time</mat-icon>
            <div class="XPtOyb-fmcmS">{{rem | dateTime:'dateTime'}}</div>

            <mat-icon class="i" matChipRemove *ngIf="removable" class="div" (click)="removeNoteReminder(rem,card)">
              cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>


      <div *ngFor="let label of labels">
        <mat-chip-list aria-label="Fish selection ">
          <mat-chip [style.background-color]=data.card.color>
            <div class="XPtOyb-fmcmS"> {{label.label}}</div>
            <mat-icon matChipRemove *ngIf="removable" class="div" (click)="removeNoteLabel(label,card)">cancel
            </mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>


      <div *ngFor="let colab of collaborators">
        <button class="collo" mat-mini-fab matTooltip="{{colab.email}}" id="label"
          (click)="openCollaboratorDialog(card)">{{colab.email[0].toUpperCase()}}</button>
      </div>

    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
      <div fxFlex="60">
        <app-icon></app-icon>
      </div>
      <div>
        <button mat-icon-button matSuffix (click)='updateNote(data)'>close</button>
      </div>
    </div>
  </mat-card>
</div>