.f {
  color: #4285f4;
}
.u {
  color: #db4437;
}
.n {
  color: #f4b400;
}
.d {
  color: #4285f4;
}
.o {
  color: #0f9d58;
}
.O {
  color: #db4437;
}
.main {
  min-height: -webkit-fill-available !important;
}
