<p mat-dialog-title>Edit labels </p>
<div mat-dialog-content fxLayout="row" class="parent">

  <mat-form-field>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    <input matInput type="text" placeholder="Create label" [(ngModel)]="value">

  </mat-form-field>
  <div class="done">
    <button class="iconcorner" type="button" (click)="$event.stopPropagation()" mat-button (click)="addLabel(value)">
      <i class="material-icons">
        done
      </i>
    </button>
  </div>
</div>
<div *ngFor="let lab of allLabel" fxLayout="row" (mouseover)="changeText=true" (mouseout)="changeText=false">
  <div>
    <button mat-button (click)="deleteLabel(lab)">
      <span [hidden]="changeText">
        <mat-icon>label_outline</mat-icon>
      </span>
      <span [hidden]="!changeText">
        <mat-icon>delete</mat-icon>
      </span>
    </button>
  </div>
  <div>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
      cdkAutosizeMinColumns="50" cdkAutosizeMaxRows="15" placeholder="Take a Note" [(ngModel)]="lab.label"></textarea>

  </div>
  <div>
    <!-- <mat-icon>label_outline</mat-icon> -->

    <button mat-button (click)="editLabel(lab)">
      <mat-icon>create</mat-icon>
    </button>
  </div>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="done()">done</button>
</div>
<!-- <div (mouseenter)="changeText=true" (mouseLeave)="changeText=false">
    <span *ngIf="!changeText">Hide</span>
    <span *ngIf="changeText">Show</span>
  </div> -->

<!-- <div>  {{message}}</div> -->
<!-- </div>  -->
<!-- <div (mouseover)="changeText=true" (mouseout)="changeText=false">
  <span [hidden]="changeText">   <mat-icon>label_outline</mat-icon></span>
  <span [hidden]="!changeText">  <mat-icon>delete</mat-icon></span>
</div> -->