<p mat-dialog-title>Edit labels </p>
<div mat-dialog-content fxLayout="row" class="parent">

  <div>
    <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="create Label" [(ngModel)]="value">

  </mat-form-field>
  <div class="done">
    <button class="iconcorner" type="button" (click)="$event.stopPropagation()" mat-button (click)="addLabel(value)">
      <i class="material-icons">
        done
      </i>
    </button>
  </div>
</div>
<div id="show" *ngFor="let lab of allLabels" (mouseover)="changeText=true" (mouseout)="changeText=false">
  <div style="height:2vh;"></div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div>
      <div id="label">
        <mat-icon>label_outline</mat-icon>
      </div>
      <div id="delete">
        <mat-icon (click)="deleteLabel(lab)">delete</mat-icon>
      </div>
    </div>

    <div>
      <!-- <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
      class="notranslate Q0hgme-y4JFTd AHmuwe-VtOx3e mQXP-YPqjbf" cdkAutosizeMinColumns="50" cdkAutosizeMaxRows="15"
       [(ngModel)]="lab.label"></textarea> -->
      <input matInput type="text" class="notranslate Q0hgme-y4JFTd AHmuwe-VtOx3e mQXP-YPqjbf" placeholder="create Label"
        [(ngModel)]="lab.label">
    </div>
    <div>
      <div>
        <div id="label">
          <mat-icon>create</mat-icon>
        </div>
        <div id="delete">
          <i class="material-icons" (click)="editLabel(lab)">
            done
          </i>
        </div>
      </div>
    </div>
  </div>

</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="done()">done</button>
</div>