.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  button {
    float: right;
}


#delete {
  display: none;
  cursor: pointer;
}

#show:hover #label {
  display: none;
}

#show:hover #delete {
  display: block;
}



.mQXP-BivLOc .mQXP-YPqjbf {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px;
}

.Q0hgme-y4JFTd {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3c4043;
    font-size: 13px;
    font-family: 'Roboto',arial,sans-serif;
    height: 25px;
    outline: none;
    padding: 0;
}